body
{
	font-family: Calibri;
}
/*
 * Sidebar
 */

.topbar
{
	display : none;
	background-color : brown;
	font-size : 12px;
	color : white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;	
}

.topbar li
{
	font-size : 18px;
	padding-left : 10px;
}

.topbar li:hover
{
	background-color : #eee;
	color : black;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;	
}

@media (max-width: 991px)
{
	.topbar
	{
		display: block;
	}
	
	.responseNavbar
	{
		margin-top : 75px;
	}
}

.sidebar
{
	display: none;
}
@media (min-width: 992px)
{
	.sidebar
	{
		z-index: 1000;
		display: block;
		left : -15px;
		z-index: 100; /* Behind the navbar */
		box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1); /* Ligne sur le coté */
	}
}

.sidebar .sidebar-sticky 
{
	font-size : 12px;
	color : white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	background-color : brown;
	position : fixed;
	/* top: 48px; *//* Height of navbar */
	height: calc(100vh/* - 48px*/);
	padding-top: .5rem;
	overflow-x: hidden;
	overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .sidebar-sticky li
{
	font-size : 18px;
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333; /* couleur texte navbar */
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff; /* quand sélectionné */
}

.sidebar .nav-link:hover .feather
{

  background-color : red;
}
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.sidebar-sticky .onglets
{
	height : 40px;
	padding-top : 6px;
	padding-left : 20px;
	margin-bottom : 10px;
	vertical-align : middle;
}

.sidebar-sticky .onglets:hover
{
	background-color : #eee;
	color : black;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;	
}
/*
 * Utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }
